**/*.iml
**/bin/
**/target/
**/bower_components/
**/node_modules/

.project
.classpath
.metadata
.loadpath
.launch
.buildpath
.cproject
.target

/.idea
.settings/
tmp/
.exteranalToolBuilders/
.idea/

*.log

.pydevproject


### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume on OSX
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

